html,
body {
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
    background-color: black;
    color: whitesmoke;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande',
        'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}

h1 {
    text-align: center;
    color: whitesmoke;
    margin: 48px;
    padding: 1px;
    font-weight: bolder;
    position: relative;
    background: linear-gradient(to right, black, whitesmoke, black);
}

h1 #title {
    display: flex;
    white-space: nowrap;
    overflow: hidden;
    background: black;
    padding: 24px;
    text-decoration: none;
    letter-spacing: 12px;
    color: whitesmoke;
}

#subtitle {
    margin-top: -24px;
    margin-bottom: 12px;
    color: goldenrod;
    font-size: 20px;
}

.choice-button {
    border: .4rem solid black;
    border-radius: .5rem;
    margin: 1rem;
    font-size: 1.5rem;
    padding: 1rem .5rem;
    transition: all 0.05s ease-out;
    width: 10rem;
    text-align: center;
    color: whitesmoke;
    background: rgba(0, 0, 0, 0.4);
    text-shadow: 0 0 .5rem black;
}

.choice-button:hover {
    border-color: #6A5ACD;
    box-shadow: 0 0 1rem #6A5ACD;
    cursor: pointer;
}

.choice-button:active {
    border-color: #6A5ACD;
    box-shadow: 0 0 1rem #6A5ACD;
    transform: scale(0.9);
    cursor: pointer;
}

.choice-buttons-all {
    display: flex;
    justify-content: space-evenly;
    background-color: #181818;
    padding: 16px;
    margin-top: 24px;
    margin-bottom: 32px;
    box-shadow: 0 0 16px 16px #181818;
    border-radius: 24px;
}

.round-status {
    display: flex;
    justify-content: center;
    flex-direction: column;
    width: 608px;
}

.round-status span {
    padding: 12px;
}

.round-result {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    border-radius: 24px;
    padding: 8px;
    border: .4rem solid #808080;
    box-shadow: 0 0 1rem #808080;
}

.contestants {
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 20px;
}

.player-result,
.computer-result {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 202px;
    margin: 18px;
    border-color: goldenrod;
    box-shadow: 0 0 0.75rem goldenrod;
    border-radius: 8px;
}

#player-score,
#computer-score {
    font-size: 20px;
    color: goldenrod;
    transition: all 0.01s ease-out;
}